
@model Nop.Plugin.Widgets.CustomerQuery.Models.PublicInfoModel

@if (Model.DisplayType == "navigation")
{
    <li class="top-menu-item">
        <a href="@Url.RouteUrl("Plugin.CustomerQuery")">@T("Plugins.Widgets.CustomerQuery.SubmitQuery")</a>
    </li>
}

else if (Model.DisplayType == "account_navigation_after")
{
    <li>
        <a href="@Url.RouteUrl("Plugin.CustomerQuery")" class="nav-link">@T("Plugins.Widgets.CustomerQuery.SubmitQuery")</a>
    </li>
}  