@{
    Layout = "_ColumnsOne";
    ViewBag.PageTitle = T("Plugins.Widgets.CustomerQuery.Success.Title").Text;
}

<div class="page customer-query-success-page">
    <div class="page-title">
        <h1>@T("Plugins.Widgets.CustomerQuery.Success.Title")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @T("Plugins.Widgets.CustomerQuery.Success.Message")
        </div>
    </div>
</div>